---
import Page from '../layouts/Page.astro';
---

<style>
  label, input, button {
    display: block;
  }

  form {
    max-width:800px;
  }
</style>

<Page title="Contact">
  <section class="container mx-auto">
    <div class="container max-w-3xl pb-12">
      <h3 class="text-xl font-bold pb-6">Want to work with me?</h3>
      <p class="pb-4">
        Drop me a line at <a href="mailto:hello@rainersimon.io">hello@rainersimon.io</a> and I will get right back to you!
      </p>
      
      <p>
        Do you have technical questions about my open source projects? Make sure you check the 
        <a href="https://github.com/orgs/annotorious/discussions" target="_blank">discussion forum on Github</a> first. 
      </p>
    </div>
  </section>
</Page>