---
import Base from '../layouts/Base.astro';
---
<style>
	header {
		background-image:url(assets/img/layout/hero.png);
		background-position:bottom;
		background-size:cover;
	}
</style>
<Base>
	<header class="pb-24">
		<div class="container mx-auto px-10 pt-20 pb-24 text-center md:text-left">
			<img class="inline" src="/assets/img/layout/rainersimon-logotype.svg">
			<p class="text-white md:text-xl pt-1">Web Development / Maps / UI / Open Source</p>
		</div>
	</header>
	<main>
		<section class="container mx-auto px-10 pt-12 pb-8 md:pt-20 text-gray-800 text-lg">
			<div class="max-w-screen-md">
				<p class="font-semibold pb-8 text-xl">
					Hi, I'm Rainer. I create software for working with data.
				</p>
					
				<p class="pb-8">
					I specialize in the design of tools and user interfaces that help people explore, 
					analyze, present and manage data more easily. I am passionate about maps, 
					and in many of my projects, I have dealt with spatial or cartographic data.  
				</p>

				<p class="pb-8">
					I am also the maintainer of the <a href="https://annotorious.com">Annotorious</a> and 
					<a href="https://github.com/recogito/recogito-js">RecogitoJS</a> open source libraries for 
					text and image annotation, and the lead developer of the award-winning 
					<a href="https://recogito.pelagios.org">Recogito</a> annotation platform.
				</p>

				<a 
					class="inline-flex items-center h-10 px-6 text-md transition-colors duration-150 rounded-md focus:shadow-outline text-white bg-steel-light hover:bg-steel-lighter" 
					href="contact">Contact me</a>
			</div>
		</section>

		<!--
		<section class="py-0">
			<div class="bg-holder" style="background-image:url(assets/img/layout/footer-bg.png);background-position:0 80px;background-size:cover;">
			</div>

			<div class="container">
				<div class="row min-vh-75 min-vh-xl-50 pt-10">
					<div class="col-6 col-md-4 col-xl-3 mb-3">
						<h5 class="lh-lg fw-bold text-white">COMPANY</h5>
						<ul class="list-unstyled mb-md-4 mb-lg-0">
							<li class="lh-lg"><a class="text-200 text-decoration-none" href="imprint.html">Imprint</a></li>
							<li class="lh-lg"><a class="text-200 text-decoration-none" href="assets/files/rainersimon_terms_202206.pdf">Terms & Conditions</li>
							<li class="lh-lg"><a class="text-200 text-decoration-none" href="contact.html">Contact</a></li>
						</ul>
					</div>
					<div class="col-6 col-md-4 col-xl-3 mb-3">
						<h5 class="lh-lg fw-bold text-white">SOCIAL</h5>
						<ul class="list-unstyled mb-md-4 mb-lg-0">
							<li class="lh-lg"><a class="text-200 text-decoration-none" href="https://github.com/rsimon">Github</a></li>
							<li class="lh-lg"><a class="text-200 text-decoration-none" href="https://twitter.com/aboutgeo">Twitter</a></li>
						</ul>
					</div>
				</div>

				<hr />
				
				<div class="row flex-center pb-3">
					<div class="col-md-6 order-0">
						<p class="text-200 text-center text-md-start">&copy; Rainer Simon, 2022</p>
					</div>
					<div class="col-md-6 order-1">
						<p class="text-200 text-center text-md-end">Servion Theme |
							<a class="text-200 fw-bold" href="https://themewagon.com/" target="_blank">ThemeWagon</a>
						</p>
					</div>
				</div>
			</div>
		</section>
	-->
	</main>
</Base>