---
import { ArrowRight } from 'lucide-react';
import { Icon } from 'astro-icon/components';
import Base from '../layouts/Base.astro';
import { LogoSection } from './_index/logo-section';
import { PortfolioSection } from './_index/portfolio-section';
import { ServicesSection } from './_index/services-section';
import { AwardsSection } from './_index/awards-section';

const year = new Date().getFullYear();
---
<Base>
  <header class="pb-8 md:pb-24 bg-[url(/assets/img/splash-header-bg.svg)] bg-bottom bg-cover">
		<div class="container mx-auto px-10 pt-16 md:pt-20 pb-20 text-center md:text-left">
			<img 
        class="inline" 
        src="/assets/img/splash-logo.svg"
        alt="Rainer Simon - Digital Humanities Software Development">

			<h1 class="text-white md:text-xl pt-1 md:pb-8 tracking-wide">
        Digital Humanities Software Development
      </h1>
		</div>
	</header>

  <main>
		<section class="pt-12 md:pt-18 text-lg leading-relaxed">
      <div class="container mx-auto">
        <div class="px-4 md:px-10 pb-20 max-w-3xl">
          <h2 class="font-bold text-xl">
            Hi, I'm Rainer. I create software for digital humanists.
          </h2>
            
          <div class="space-y-4 mt-8">
            <p>
              I help Digital Humanities researchers, DH labs, museums, libraries, 
              and archives build tools for exploring, analyzing, managing and publishing
              complex cultural data.
            </p>
            
            <p>
              Developing a digital edition? Evaluating IIIF infrastructure? 
              Planning a grant proposal? I translate research 
              needs into practical, sustainable technology.
            </p>
          </div>

          <div class="flex flex-col md:flex-row gap-4 text-md mt-16">
            <a 
              class="inline-flex items-center justify-center h-12 px-8 transition-colors duration-150 rounded-sm focus:shadow-outline text-white bg-steel-light hover:bg-steel-lighter" 
              href="https://calendly.com/rainer-rainersimon/rainersimon-io-introduction">Schedule a Free Consultation</a>

            <a 
              class="inline-flex items-center justify-center h-12 px-8 transition-colors duration-150 rounded-sm focus:shadow-outline border text-steel-light border-steel-lighter hover:bg-steel/10" 
              href="mailto:hello@rainersimon.io">Email Me</a>
          </div>
        </div>
      </div>
    </section>

    <section class="py-4">
      <div class="container mx-auto">
        <div class="px-4 md:px-10  max-w-3xl space-y-12">
          <ServicesSection client:load />
        </div>
      </div>
    </section>

    <section id="portfolio" class="bg-steel-lighter/10">
      <div class="container mx-auto pt-8 md:pt-14 pb-6 md:pb-20">
        <div class="md:px-10">
          <PortfolioSection />
        </div>
      </div>
    </section>

    <section class="pt-20 pb-24">
      <div class="container mx-auto">
        <LogoSection />
      </div>
    </section>

    <section class="pt-20 pb-24 bg-steel-lighter/10">
      <div class="container mx-auto">
        <div class="md:px-10">
          <AwardsSection />
        </div>
      </div>
    </section>

    <section>     
      <div class="container mx-auto">
        <div class="px-4 md:px-10  pt-20 pb-2 max-w-3xl space-y-12 leading-relaxed">
          <h2 class="text-xl font-bold">
            Have a project in mind?
          </h2>

          <p class="text-lg max-w-xl">
            Whether you are still figuring out requirements or ready to begin development,
            I'm happy to talk through your needs and explore how I can help.
          </p>

          <div class="flex flex-col md:flex-row gap-4 text-md mt-16">
            <a 
              class="inline-flex items-center justify-center h-12 px-8 transition-colors duration-150 rounded-sm focus:shadow-outline text-white bg-steel-light hover:bg-steel-lighter" 
              href="https://calendly.com/rainer-rainersimon/rainersimon-io-introduction">Schedule a Free Consultation</a>

            <a 
              class="inline-flex items-center justify-center h-12 px-8 transition-colors duration-150 rounded-sm focus:shadow-outline border text-steel-light border-steel-lighter hover:bg-steel/10" 
              href="mailto:hello@rainersimon.io">Email Me</a>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer class="bg-[url(/assets/img/splash-footer-bg.svg)] bg-bottom-0 bg-cover mt-42">
    <section class="container mx-auto px-8 md:px-10 pt-24 md:pt-36 text-white">
      <div class="pb-16 tracking-wide">
        <div class="grid grid-cols-2 md:grid-cols-4 gap-20 md:gap-14">
          <div class="flex flex-col md:flex-row col-span-2 items-center md:items-start gap-6">
            <img 
              src="/assets/img/rainer.jpg"
              alt="Rainer" 
              width={140} 
              height={140} 
              class="rounded-full" />

            <div class="text-sm leading-relaxed text-center md:text-left">
              <p class="max-w-70 mt-0.5">
                <strong class="font-bold">Hi, I'm Rainer.</strong>
                Independent IT consultant and research software engineer 
                with more than 15 years experience in Digital Humanities.
              </p>
              <div class="text-white/60 mt-0.5 inline-flex md:flex items-center gap-1.5">
                <Icon name="fontisto:map-marker-alt" class="size-2.5" /> Vienna, Austria
              </div>
            </div>
          </div>

          <div class="leading-8">
            <h4 class="font-bold">SOCIAL</h4>
            <ul>
              <li class="flex items-center gap-3">
                <Icon name="fontisto:github" /> 
                <a href="https://github.com/rsimon" class="hover:underline" target="_blank">Github</a>
              </li>

              <li class="flex items-center gap-3">
                <Icon name="simple-icons:linkedin" />
                <a href="https://www.linkedin.com/in/rainersimon/" class="hover:underline" target="_blank">LinkedIn</a>
              </li>

              <li class="flex items-center gap-3">
                <Icon name="simple-icons:bluesky" />
                <a rel="me" href="https://bsky.app/profile/aboutgeo.bsky.social" class="hover:underline" target="_blank">Bluesky</a>
              </li>

              <li class="flex items-center gap-3">
                <Icon name="simple-icons:mastodon" />
                <a rel="me" href="https://hcommons.social/@aboutgeo" class="hover:underline" target="_blank">Mastodon</a>
              </li>
            </ul>
          </div>

          <div class="leading-8">
            <h4 class="font-bold">COMPANY</h4>
            <ul>
              <li>
                <a href="/imprint" class="hover:underline">Imprint</a>
              </li>
              <li>
                <a href="/assets/files/rainersimon_terms_202206.pdf" class="hover:underline" target="_blank">Terms<span class="hidden md:inline"> & Conditions</span></a>
              </li>
              <li>
                <a href="/contact" class="hover:underline">Contact</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="grid grid-cols-4 gap-20 md:gap-14 mt-8 md:mt-2">
          <div class="hidden md:block col-span-2 lg:col-span-3" />

          <div class="col-span-4 md:col-span-2 lg:col-span-1 w-full space-y-1">
            <h4 class="font-bold">NEWSLETTER</h4>
            <p class="text-sm">
              Sign up to stay up to date with my work. 
              <span class="text-white/60 block">Sent max. 4x per year.</span>
            </p>

            <form
              class="flex bg-white rounded mt-3 text-sm"
              action="https://buttondown.com/api/emails/embed-subscribe/aboutgeo"
              method="post">
              <input 
                class="py-1 w-full px-2 text-steel rounded-l border border-white placeholder:text-steel"
                type="email" 
                name="email" 
                id="bd-email"
                placeholder="Enter your e-mail..." />

              <div class="border border-white rounded-r flex">
                <button 
                  type="submit"
                  class="bg-steel p-1.5 rounded cursor-pointer">
                  <ArrowRight />
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Rest of footer remains the same -->
      <div class="flex justify-between md:pt-4 pb-8 border-t">
        <p>&copy; Rainer Simon, {year}</p>

        <p class="hidden md:inline-block">
          Site built with <a href="https://astro.build/" class="hover:underline" target="_blank">Astro</a> ·
          <a href="https://themewagon.com/" class="hover:underline" target="_blank">Servion Theme</a>
        </p>
      </div>
    </section>
  </footer>
</Base>