---
import { Icon } from 'astro-icon/components';
import Base from '../layouts/Base.astro';
import { ServicesList } from './_index/services-list';

const year = new Date().getFullYear();
---
<Base>
  <header class="pb-8 md:pb-24 bg-[url(/assets/img/splash-header-bg.svg)] bg-bottom bg-cover">
		<div class="container mx-auto px-10 pt-20 md:pt-20 pb-18 text-center md:text-left">
			<img 
        class="inline" 
        src="/assets/img/splash-logo.svg"
        alt="rainersimon.io">
			<h1 class="text-white md:text-xl pt-1 md:pb-8 tracking-wide">
        Digital Humanities / IIIF / UX / Open Source
      </h1>
		</div>
	</header>

  <main>
		<section class="pt-12 md:pt-18 text-lg leading-relaxed">
      <div class="container mx-auto">
        <div class="px-10 pb-20 max-w-3xl">
          <p class="font-bold text-xl">
            Hi, I'm Rainer. I create software for digital humanists.
          </p>
            
          <div class="space-y-4 mt-8">
            <p>
              I help Digital Humanities researchers, DH labs, museums, libraries, 
              and archives build tools that make complex data easier 
              to explore, analyze, and manage. 
            </p>
            
            <p>
              Are you planning a grant proposal? Evaluating IIIF tools? Developing a 
              custom research database, or a digital edition? I help you
              translate your research needs into usable technology.
            </p>
          </div>

          <div class="flex gap-4 text-md mt-16">
            <a 
              class="inline-flex items-center h-12 px-8 transition-colors duration-150 rounded-md focus:shadow-outline text-white bg-steel-light hover:bg-steel-lighter" 
              href="contact">Book a Meeting</a>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container mx-auto">
        <div class="px-10 max-w-3xl space-y-12">
          {<ServicesList client:load />}
        </div>
      </div>
    </section>
  </main>

  <footer class="bg-[url(/assets/img/splash-footer-bg.svg)] bg-bottom-0 bg-cover mt-42">
		<section class="container mx-auto px-10 pt-28 text-white leading-8">
			<div class="grid grid-cols-2 md:grid-cols-4 gap-14 pb-20">
				<div>
					<h4 class="font-bold">COMPANY</h4>
					<ul>
						<li>
              <a href="/imprint" class="hover:underline">Imprint</a>
            </li>
						<li>
              <a href="/assets/files/rainersimon_terms_202206.pdf" class="hover:underline" target="_blank">Terms<span class="hidden md:inline"> & Conditions</span></a>
            </li>
						<li>
              <a href="/contact" class="hover:underline">Contact</a>
            </li>
					</ul>
				</div>

				<div>
					<h4 class="font-bold">SOCIAL</h4>
					<ul>
						<li class="flex items-center gap-3">
							<Icon name="fontisto:github" /> 
							<a href="https://github.com/rsimon" class="hover:underline" target="_blank">Github</a>
						</li>

						<li class="flex items-center gap-3">
							<Icon name="simple-icons:linkedin" />
							<a href="https://www.linkedin.com/in/rainersimon/" class="hover:underline" target="_blank">LinkedIn</a>
						</li>

						<li class="flex items-center gap-3">
							<Icon name="simple-icons:bluesky" />
							<a rel="me" href="https://bsky.app/profile/aboutgeo.bsky.social" class="hover:underline" target="_blank">Bluesky</a>
						</li>

						<li class="flex items-center gap-3">
							<Icon name="simple-icons:mastodon" />
							<a rel="me" href="https://hcommons.social/@aboutgeo" class="hover:underline" target="_blank">Mastodon</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="flex justify-between pt-2 md:pt-4 pb-8 border-t">
				<p>&copy; Rainer Simon, {year}</p>

				<p class="hidden md:inline-block">
					Site built with <a href="https://astro.build/" class="hover:underline" target="_blank">Astro</a> ·
					<a href="https://themewagon.com/" class="hover:underline" target="_blank">Servion Theme</a>
				</p>
			</div>
		</section>
	</footer>
</Base>