---
import { ArrowRight } from 'lucide-react';
import { Icon } from 'astro-icon/components';
import Base from '../layouts/Base.astro';
import { LogoSection } from './_index/logo-section';
import { PortfolioSection } from './_index/portfolio-section';
import { ServicesSection } from './_index/services-section';
import { AwardsSection } from './_index/awards-section';

const year = new Date().getFullYear();
---
<Base>
  <header class="pb-8 md:pb-24 bg-[url(/assets/img/splash-header-bg.svg)] bg-bottom bg-cover">
		<div class="container mx-auto px-10 pt-16 md:pt-20 pb-20 text-center md:text-left">
			<img 
        class="inline" 
        src="/assets/img/splash-logo.svg"
        alt="Rainer Simon - Digital Humanities Software Development">

			<h1 class="text-white md:text-xl pt-1 md:pb-8 tracking-wide">
        Research Software for the Digital Humanities
      </h1>
		</div>
	</header>

  <main>
		<section class="pt-12 md:pt-18 text-lg leading-relaxed">
      <div class="container mx-auto">
        <div class="px-4 md:px-10 pb-20 max-w-3xl">
          <h2 class="font-bold text-2xl">
            Hi, I'm Rainer.
          </h2>
            
          <div class="space-y-4 mt-8">
            <p>
              I'm an independent software developer specializing in the Digital Humanities. I work
              with universities, DH labs, museums, libraries, and archives to build and design tools, 
              research infrastructure, digital editions, and data-driven publications.
            </p>
            
            <p>
              Whether you have an idea you want to turn into a working tool, a project ready to launch, or 
              a grant that needs a solid technical foundation – let's talk!
            </p>
          </div>

          <div class="flex flex-col md:flex-row gap-4 text-md mt-16">
            <a 
              class="inline-flex items-center justify-center h-12 px-8 transition-colors duration-150 rounded-sm focus:shadow-outline text-white bg-steel-light hover:bg-steel-lighter" 
              href="mailto:hello@rainersimon.io">Get in Touch</a>
            
            <a 
              class="inline-flex items-center justify-center h-12 px-8 transition-colors duration-150 rounded-sm focus:shadow-outline border text-steel-light border-steel-lighter hover:bg-steel/10" 
              href="https://calendly.com/rainer-rainersimon/rainersimon-io-introduction">Schedule a Call</a>
          </div>
        </div>
      </div>
    </section>

    <section id="portfolio" class="bg-steel-lighter/10">
      <div class="container mx-auto py-8 md:py-18">
        <div class="md:px-10">
          <PortfolioSection />
        </div>
      </div>
    </section>

    <section class="py-8 md:py-18">
      <div class="container mx-auto">
        <LogoSection />
      </div>
    </section>

    <section class="py-24 bg-steel-lighter/10">
      <div class="container mx-auto">
        <div class="md:px-10">
          <AwardsSection />
        </div>
      </div>
    </section>

    <section class="py-8 md:py-18">
      <div class="container mx-auto">
        <div class="px-4 md:px-10  max-w-3xl space-y-12">
          <ServicesSection client:load />
        </div>
      </div>
    </section>

    <section>     
      <div class="container mx-auto">
        <div class="px-4 md:px-10 pt-12 pb-2 max-w-3xl space-y-12">
          <h2 class="text-2xl font-bold">
            Get in Touch
          </h2>

          <p class="text-lg max-w-xl leading-relaxed">
            Whether you have an early idea or a fully formed project –
            let's talk. Drop me a line at <a 
              class="text-steel underline font-medium" 
              href="mailto:hello@rainersimon.io">hello@rainersimon.io</a>
          </p>
        </div>
      </div>
    </section>
  </main>

  <footer class="bg-[url(/assets/img/splash-footer-bg.svg)] bg-bottom-0 bg-cover mt-42">
    <section class="container mx-auto px-8 md:px-10 pt-24 md:pt-36 text-white">
      <h2 class="sr-only">About</h2>

      <div class="pb-16 tracking-wide">
        <div class="grid grid-cols-2 md:grid-cols-5 gap-20 md:gap-14">
          <div class="flex flex-col md:flex-row col-span-3 items-center md:items-start gap-6">
            <img 
              src="/assets/img/rainer.jpg"
              alt="Rainer" 
              width={140} 
              height={140} 
              class="rounded-full" />

            <div class="text-sm leading-relaxed text-center md:text-left space-y-3">
              <p class="max-w-96 mt-0.5">
                <strong class="font-bold">Hi, I'm Rainer.</strong>
                Independent software developer with 15+ years of experience in Digital 
                Humanities. I love projects that don't fit the standard mould – where
                technology meets creativity meets scholarship.
              </p>

              <p class="max-w-96">
                I value collaboration and (so I'm told) I'm good at 
                cutting through complexity to find the solution that
                fits.
              </p>
              <div class="text-white/60 mt-0.5 inline-flex md:flex items-center gap-1.5">
                <Icon name="fontisto:map-marker-alt" class="size-2.5" /> Based in Vienna, Austria
              </div>
            </div>
          </div>

          <div class="leading-8">
            <h3 class="font-bold">SOCIAL</h3>
            <ul>
              <li class="flex items-center gap-3">
                <Icon name="fontisto:github" /> 
                <a href="https://github.com/rsimon" class="hover:underline" target="_blank">Github</a>
              </li>

              <li class="flex items-center gap-3">
                <Icon name="simple-icons:linkedin" />
                <a href="https://www.linkedin.com/in/rainersimon/" class="hover:underline" target="_blank">LinkedIn</a>
              </li>

              <li class="flex items-center gap-3">
                <Icon name="simple-icons:bluesky" />
                <a rel="me" href="https://bsky.app/profile/aboutgeo.bsky.social" class="hover:underline" target="_blank">Bluesky</a>
              </li>

              <li class="flex items-center gap-3">
                <Icon name="simple-icons:mastodon" />
                <a rel="me" href="https://hcommons.social/@aboutgeo" class="hover:underline" target="_blank">Mastodon</a>
              </li>
            </ul>
          </div>

          <div class="leading-8">
            <h3 class="font-bold">COMPANY</h3>
            <ul>
              <li>
                <a href="/imprint" class="hover:underline">Imprint</a>
              </li>
              <li>
                <a href="/assets/files/rainersimon_terms_202206.pdf" class="hover:underline" target="_blank">Terms<span class="hidden md:inline"> & Conditions</span></a>
              </li>
              <li>
                <a href="/contact" class="hover:underline">Contact</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="grid grid-cols-5 gap-20 md:gap-14 mt-8">
          <div class="hidden md:block col-span-3 lg:col-span-3" />

          <div class="col-span-3 md:col-span-2 lg:col-span-2 w-full space-y-1">
            <p class="text-sm">
              Sign up to my newsletter. 
              <span class="text-white/60 block">Occasional updates on DH tools, projects and ideas.</span>
            </p>

            <form
              class="flex bg-white rounded mt-3 text-sm"
              action="https://buttondown.com/api/emails/embed-subscribe/aboutgeo"
              method="post">
              <input 
                class="py-1 w-full px-2 text-steel rounded-l border border-white placeholder:text-steel"
                type="email" 
                name="email" 
                id="bd-email"
                placeholder="Enter your e-mail..." />

              <div class="border border-white rounded-r flex">
                <button 
                  type="submit"
                  aria-label="Subscribe to Newsletter"
                  class="bg-steel p-1.5 rounded cursor-pointer">
                  <ArrowRight />
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Rest of footer remains the same -->
      <div class="flex justify-between md:pt-4 pb-8 border-t">
        <p>&copy; Rainer Simon, {year}</p>

        <p class="hidden md:inline-block">
          Site built with <a href="https://astro.build/" class="hover:underline" target="_blank">Astro</a>
        </p>
      </div>
    </section>
  </footer>
</Base>