---
import { Icon } from 'astro-icon';

import Base from '../layouts/Base.astro';
---
<style>
	header {
		background-image:url(/assets/img/splash-header-bg.svg);
		background-position:bottom;
		background-size:cover;
	}

	footer {
		background-image:url(/assets/img/splash-footer-bg.svg);
		background-position:top;
		background-size:cover;
	}

	footer h4 {
		font-weight:bold;
	}

	footer [astro-icon] {
		height:20px;
    display:inline;
    vertical-align:text-top;
    padding-right:6px;
  }
</style>

<Base>
	<header class="pb-8 md:pb-24">
		<div class="container mx-auto px-10 pt-20 md:pt-24 pb-24 text-center md:text-left">
			<img class="inline" src="/assets/img/splash-logo.svg">
			<p class="text-white md:text-xl pt-1 md:pb-8">Web Development / Maps / UI / Open Source</p>
		</div>
	</header>

	<main>
		<section class="container mx-auto px-10 pt-12 pb-24 md:pt-20 text-gray-800 text-lg">
			<div class="max-w-screen-md">
				<p class="font-semibold pb-10 text-xl">
					Hi, I'm Rainer. I create software for working with data.
				</p>
					
				<p class="pb-10">
					I specialize in the design of tools and user interfaces that help people explore, 
					analyze, present and manage data more easily. I am passionate about maps, 
					and in many of my projects, I have dealt with spatial or cartographic data.  
				</p>

				<p class="pb-10">
					I am also the maintainer of the <a href="https://annotorious.com">Annotorious</a> and 
					<a href="https://github.com/recogito/recogito-js">RecogitoJS</a> open source libraries for 
					text and image annotation, and the lead developer of the award-winning 
					<a href="https://recogito.pelagios.org">Recogito</a> annotation platform.
				</p>

				<a 
					class="btn inline-flex items-center h-10 px-6 text-md transition-colors duration-150 rounded-md focus:shadow-outline text-white bg-steel-light hover:bg-steel-lighter" 
					href="contact">Contact me</a>
			</div>
		</section>
	</main>

	<footer>
		<section class="container mx-auto px-10 pt-24 text-white leading-8">
			<div class="grid grid-cols-3 gap-3 pb-20">
				<div>
					<h4>COMPANY</h4>
					<ul>
						<li><a href="/imprint">Imprint</a></li>
						<li><a href="/assets/files/rainersimon_terms_202206.pdf" target="_blank">Terms & Conditions</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</div>

				<div>
					<h4>SOCIAL</h4>
					<ul>
						<li>
							<Icon name="fontisto:github" /> 
							<a href="https://github.com/rsimon" target="_blank">Github</a>
						</li>
						
						<li>
							<Icon name="iconoir:twitter" />
							<a href="https://twitter.com/aboutgeo" target="_blank">Twitter</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="flex justify-between pt-4 pb-8 border-t">
				<p>&copy; Rainer Simon, 2022</p>

				<p>Servion Theme |
					<a class="font-bold" href="https://themewagon.com/" target="_blank">ThemeWagon</a>
				</p>
			</div>
		</section>
	</footer>
</Base>