---
const { title } = Astro.props;
---
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#ffffff">

    <title>{title ? `rainersimon.io | ${title}` : 'rainersimon.io'}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicons/favicon.ico">
    <link rel="manifest" href="assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png">

    <meta name="description" content="Web Development / Maps / UI / Open Source" />
    
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@aboutgeo" />
    <meta name="twitter:title" content={title ? `rainersimon.io | ${title}` : 'rainersimon.io'} />
    <meta name="twitter:description" content="Web Development / Maps / UI / Open Source" />
    <meta name="twitter:image" content="https://rainersimon.io/assets/img/social-preview.png" />

    <meta property="og:type" content="website" />
    <meta property="og:title" content={title ? `rainersimon.io | ${title}` : 'rainersimon.io'} />
    <meta property="og:description" content="Web Development / Maps / UI / Open Source" />
    <meta property="og:image" content="https://rainersimon.io/assets/img/social-preview.png" />
    <meta property="og:image:width" content="1600" />
    <meta property="og:image:height" content="900" />
    <meta property="og:url" content="https://rainersimon.io/" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap" rel="stylesheet">

    <style is:global>
      main {
        min-height:70vh;
      }
    
      main a {
        color:#5c69a7;
      }
    
      main a:hover {
        text-decoration:underline;
      }
    
      article h1,
      article h2,
      article h3,
      article h4,
      article h5 {
        font-weight:bold;
      }
    
      article h1 {
        font-size:1.5rem;
        line-height:2rem;
        padding-bottom:1.5rem;
      }
    
      article p {
        padding-bottom:1.5rem;
        line-height:170%;
      }
    
      .btn:hover {
        text-decoration:none;
      }
    </style>
  </head>
  <body>
    <slot />
  </body>
</html>