---
import { Icon } from 'astro-icon/components';

import Base from './Base.astro';

const title = Astro.props.title || Astro.props.content.title;

const year = new Date().getFullYear();
---

<style>
  html, body {
    min-height:100%;
  }

  header, footer {
    background-color:#424d83;
  }

	#logo {
		height:48px;
	}

  footer h4 {
		font-weight:bold;
	}

	footer li {
		align-items: center;
    display: flex;
		gap: 0.75rem;
    padding-right: 6px;
  }
</style>

<Base title={title}>
  <header>
    <nav class="container mx-auto px-10 text-right text-white py-5 flex justify-between items-center">
			<a href="/">
				<img class="hidden md:inline-block" alt="rainersimon.io" class="inline" id="logo" src="/assets/img/splash-logo.svg">
			</a>
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>
	</header>

  <main class="container mx-auto px-10 py-8 md:py-20">
    <article class="text-gray-800">
      <slot />
    </article>
  </main>

  <footer>
    <section class="container mx-auto px-10 pt-6 text-white leading-8">
			<div class="grid grid-cols-2 md:grid-cols-4 gap-14 pb-12">
				<div>
					<h4>COMPANY</h4>
					<ul>
						<li><a href="/imprint">Imprint</a></li>
						<li><a href="/assets/files/rainersimon_terms_202206.pdf" target="_blank">Terms<span class="hidden md:inline"> & Conditions</span></a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</div>

				<div>
					<h4>SOCIAL</h4>
					<ul>
						<li>
							<Icon name="fontisto:github" /> 
							<a href="https://github.com/rsimon" target="_blank">Github</a>
						</li>

						<li>
							<Icon name="simple-icons:linkedin" />
							<a href="https://www.linkedin.com/in/rainersimon/" target="_blank">LinkedIn</a>
						</li>

						<li>
							<Icon name="simple-icons:bluesky" />
							<a rel="me" href="https://bsky.app/profile/aboutgeo.bsky.social" target="_blank">Bluesky</a>
						</li>

						<li>
							<Icon name="simple-icons:mastodon" />
							<a rel="me" href="https://vis.social/@aboutgeo" target="_blank">Mastodon</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="flex justify-between pt-2 md:pt-4 pb-8 border-t">
				<p>&copy; Rainer Simon, {year}</p>

				<p class="hidden md:inline-block">
					Site built with <a href="https://astro.build/" target="_blank">Astro</a> | 
					<a href="https://themewagon.com/" target="_blank">Servion Theme</a>
				</p>
			</div>
		</section>
  </footer>
</Base>
