---
import Page from '@/layouts/Page.astro';
import { slugify } from '@/lib/utils';
import { PROJECTS, type Project } from './_data';
import { ProjectDetails } from './_components';

export async function getStaticPaths() {
  return PROJECTS.map(p => ({ params: { slug: slugify(p.title) } }));
}

const { slug } = Astro.params;

const project: Project = PROJECTS.find(p => slugify(p.title) === slug);
const projectIndex = PROJECTS.findIndex(p => slugify(p.title) === slug);
const previousProject = projectIndex > 0 ? PROJECTS[projectIndex - 1] : null;
const nextProject = projectIndex < PROJECTS.length - 1 ? PROJECTS[projectIndex + 1] : null;
---

<Page title={project.title}>
  <section class="container mx-auto">
    <ProjectDetails 
      client:load
      project={project}
      previousProject={previousProject}
      nextProject={nextProject} />
  </section>
</Page>
